# yaml-language-server: $schema=https://json.schemastore.org/clangd.json
Diagnostics:
  ClangTidy:
    Add: [modernize*, readability*, bugprone*, performance*]
    Remove: [readability-magic-numbers, readability-identifier-length]

CompileFlags:
  Add:
    # - -xc
    - -march=native
    - -std=c23
    - -Wall
    - -Wextra
    - -Wpedantic
