# yaml-language-server: $schema=https://json.schemastore.org/clangd.json
CompileFlags:
  CompilationDatabase: build

Diagnostics:
  ClangTidy:
    Add: [modernize*, readability*, bugprone*, performance*]
    Remove: [readability-magic-numbers, readability-identifier-length]
