# CMake build directories
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
__cmake_*
Makefile

# MSVC / Windows build artifacts
*.obj
*.o
*.exe
*.dll
*.lib
*.pdb

# vcpkg build artifacts
/vcpkg_installed/
/installed/
/packages/
/buildtrees/
/downloads/
/vcpkg/archives/

# OS junk
.DS_Store
Thumbs.db
*.log

/.idea

/.cache