[env]
CC = "clang"
CMAKE_GENERATOR = "Ninja"
CMAKE_RC_COMPILER = "llvm-rc"

[tasks.config]
run = 'cmake -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_COMPILER=clang -DCMAKE_C_FLAGS="-std=c23 -march=native -Wall -Wextra -Wpedantic" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON'

[tasks.build]
quiet = true
run = ["cmake --build build", "./build/Debug/c-tris"]

[tasks.run]
run = "./build/Debug/c-tris"

[tasks.tidy]
description = "Run ClangTidy on all source files"
run = "run-clang-tidy -quiet -p build -header-filter='/c-tris/src/.*' '/c-tris/src/.*\\.c$'"

